html {
  height: 100%;
  width: 100%;
  background-color: #9cb6e7;
}
/*header and footer background #9cb6e7
header font Sofia 
header and footer font color #244a92
nav background color #234a95
nav font color when over 568 white when under 568 black
main body background color #e4e9fc
footer font  trirong*/

.header-nav-container{
  display: flex;
  flex-direction: row;
  height: auto;
  background-color:
}
header {
  display: flex;
  width: 300px;
  justify-content: center;
  text-align: center;
  background-color: #9cb6e7;
  color: #244a92;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "Wittgenstein";
  h6{
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
}
nav{
  display: flex;
  width: 100%;
  background-color: #234a95;
  font-weight: bold;
  a{
  color: white !important;
  }
  .navbar-nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    gap: 65px;
  }
}
.doggie-banner{
  width: 100%;
  height: auto;
}
main{
  display: flex;
  flex-direction: column;
  background-color: #e4e9fc;
  font-family: "Markazi Text", serif;
  span{
    color: #244a92;
    font-size: 25px;
    font-weight: bold;
  }
}
.booking{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
h5 {
  color: #244a92;
  background-color: #e4e9fc; 
  font-family: "Markazi Text", serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;  
  margin: 0;
  
}
.maincontact {
  display: flex;                
  flex-direction: row;       
  justify-content: space-evenly;      
  align-items: center;          
  height: auto;                
  text-align: center;
  
}
.info{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.map{
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}
.tableh5{
  text-align: center;
}
.groomoptions{
  flex-direction: row;
  padding: 20px;
  gap: 25px;
  justify-content: space-between;
}
.doggie-bath, .doggie-nail-trim, .doggie-towel{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.groomdetails{
  list-style-type: square;
  margin-top: 10px;
  
}
table {
  font-family: "Markazi Text", serif;
  width: 100%; 
  border-collapse: collapse; 
}


.tableheader th{
  color: #fff;
  text-align: center;
  background-color: #234b95; 
  font-weight: bold; 
}
.alt1{
  background-color: #83a4e2;
}
tr{
  background-color: #e5e9fc;
}
th, td {
  border: 1px solid #6b86b9; 
  padding: 8px; 
  text-align: left; 
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #244a92;;
  background-color: #9cb6e7;
  font-family: "Trirong", serif;
  font-weight: bold;
  height: 100px;
}
footer p{
  margin: 0;
}




fieldset{
  width: 100%;
  border: 2px solid #234a95; 
  border-radius: 3px; 
  padding: 20px; 
  position: relative; 
}

legend{
  font-weight: bolder;
  color: #000;
  text-align: left;
  font-size: 1.6rem;
  padding-left: .5rem;
  padding-right: .5rem;
  
  
  
}
input[type="submit"]{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 150px;
  color: #000;
  text-align: center;
  font-size: 20px;
  padding: .5rem;
  background-color: #688ed6;
  border: none;
  border-radius: 4px;
}
label {
  display: block; 
  margin-top: 10px; 
  font-weight: bold; 
  color: #234a95; 
}









@media (max-width: 768px) {
  .header-nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    font-family: "Sofia";
    font-weight: bolder;
  }
  .groomoptions{
    flex-direction: column;
  }
  .maincontact {               
    flex-direction: column;       
             
  }
}


@media (max-width: 576px) {
  .header-nav-container{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
  }
  header {
    width: 100%;
    align-items: center;
    
  }
  nav{
    display: none;
    width: 100%;
    background-color: #9cb6e7;
    .navbar-nav {
      gap: 0px;
    }
  }
  .booking{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
}
@media (max-width: 575px){
  nav{
    display: flex;
    width: 100px;
    justify-content: center;
    a{
      color: #244a92 !important;
      }
    .navbar-toggler {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
    }
    .navbar-nav {
      gap: 0px;
    }
  }
}